table {
    width: 100%;
}

tr{
    cursor: pointer;
}

tr:hover{
    background-color: gainsboro;
}

.table-row-delete{
    width: 75px;
}

.button-container{
    margin: 5px 0;
    text-align: right;
}